<a href="https://colab.research.google.com/github/PerfectMach1ne/uni-ai-ml/blob/main/wyklad1_czesc1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Podstawy języka Python część 1:**

*   wyświetlanie na konsoli
*   zmienne i podstawowe operatory
*   wczytywanie danych
*   konstrukcje warunkowe
*   pętle
*   kolekcje: listy, krotki, słowniki, zbiory

**Wyświetlenie**

In [ ]:
print("Hello WSPA!")

Hello WSPA!

**Zmienne**

*   nazwy zmiennych moge składać się z liter, cyfr, podkreślników
*   nazwy zmiennych nie mogą zaczynać się od cyfry lub podkreślnika
*   duże i małe litery są rozróżniane, zmienne: Text oraz text to są dwie różne zmienne

**Dobre praktyki**

*   należy unikać nazw zmiennych, które są już zdefiniowane w Python (bo funkcjonalność zostanie nadpisana), np. if, for, break, str, int itd
*   nazwy zmiennych powinny mówić co przechowują, np. zmienna przechowująca imię - name zamiast n
*   jeśli nazwa składa się z kilku słów to mogą być oddzielone podkreślnikiem albo kolejne słowo może zaczyna się z duże litery
*   do nazw zmiennych używaj jęzka angielskiego

In [ ]:
text="Monika" #łańcuch znaków
a=2 #liczba całkowita
b=2.0 #liczba zmiennoprzecinkowa
flag=True #zmienna boolowa
print(text)
print(a)
print(b)
print(flag)

Monika
2
2.0
True

In [ ]:
print(type(text))
print(type(a))
print(type(b))
print(type(flag))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

**Operatory**

In [ ]:
res=6+8
res=a+6
print(a)
print("Dodawanie: ",res)

2
Dodawanie:  8

In [ ]:
res=(a*2-5)/3
print("Kolejnosc wykonywania działań: ",res)

Kolejnosc wykonywania działań:  -0.3333333333333333

In [ ]:
res1=8/3
res2=8//3

print("Dzielenie")
print("Zmienna res1: ", res1)
print("Zmienna res2: ",res2)

Dzielenie
Zmienna res1:  2.6666666666666665
Zmienna res2:  2

In [ ]:
res=2**3
print("Potegowanie: ",res)

Potegowanie:  8

In [ ]:
a=8
b=3
print(f"Reszta z dzielenia {a} przez {b}: {a%b}")

Reszta z dzielenia 8 przez 3: 2

**Konwersja danych**

In [ ]:
#int do float
a_int=4
a_float=float(a_int)
print(type(a_float))

<class 'float'>

In [ ]:
#float to int
a_float=4.0
a_int=int(a_float)
print(type(a_int))

<class 'int'>

In [ ]:
#str to int
a_str="123"
a_int=int(a_str)
print(int(a_int))

123

In [ ]:
a_str="abc"
a_int=int(a_str)
print(int(a_int))

ValueError: ignored

**Zaokrąglanie wartości i niedokładne wartości**

Tutaj można poczytać więcej o liczbach zmiennoprzecinkowych
https://docs.python.org/3/tutorial/floatingpoint.html

In [ ]:
a=3.7654
res=round(a)
print(f"liczba zaokrąglona do całości: {res}")
print(f"liczba zaokrąglona do 1 miejsca po przecinku: {round(a,1)}")
print(f"liczba zaokrąglona do 3 miejsc po przecinku: {round(a,3)}")

liczba zaokrąglona do całości: 4
liczba zaokrąglona do 1 miejsca po przecinku: 3.8
liczba zaokrąglona do 3 miejsc po przecinku: 3.765

In [ ]:
a=2.0-1.1
print(a)

0.8999999999999999

**Wczytywanie danych**

In [ ]:
name=input("Podaj swoje imie: ")
number=input("Podaj swoja szczesliwa liczbe: ")
print(f"Witaj {name}, Twoja szczesliwa liczba to {number}")

Podaj swoje imie: Monika
Podaj swoja szczesliwa liczbe: 7
Witaj Monika, Twoja szczesliwa liczba to 7

In [ ]:
number=input("Podaj liczbe: ")
print(f"Twoja liczba zwieksozna o 2 jest rowna: {number+2}")

Podaj liczbe: 7

TypeError: ignored

**Zadania**

1.   Wczytaj od użytkownika wymiary prostokąta i oblicz jego pole. Wynik wyświetl z dokładnością do 2 miejsc po przecinku.
2.   Bank oferuje lokatę z oprocentowaniem 7% w skali roku. Wczytaj od użytkownika kwotę, którą chce położyć na lokatę i wyświetl ile pieniędzy będzie miał na koncie po roku.
3.   Napisz program, który może obliczyć Ci cenę towaru po obniżce. Wczytaj od użytkownika cenę początkową oraz procent obniżki. Wyświetl nową cenę.

**Konstrukcje warunkowe**

```
if warunek_logiczny:
  instrukcje do wykonania #jeśli warunek logiczny jest prawdziwy
else:
  instrukcje do wykonania #jeśli warunek logiczny jest fałszywy
```
Operatory porównania: ==, !=, <,>,<=,>=

Operatory logiczne: or (lub), and (i)

In [ ]:
a=6
if a<10:
  print("Cyfra")
else:
  print("Liczba")

Cyfra

In [ ]:
n1=10
n2=40
if(n1==n2):
  print("Liczby są równe")
else:
  print("Liczby są różne")

Liczby są różne

In [ ]:
flag=True
if flag: #flag==True
  print("Prawda")
else:
  print("Fałsz")

Prawda

In [ ]:
a=8
if a==0:
  print("Liczba jest rowna 0")
else: #a!=0
  if a>0:
    print("Liczba jest wieksza od 0")
  else: #a<=0
    print("Liczba jest mniejsza od 0")

Liczba jest wieksza od 0

In [ ]:
a=7
print(f"Czy liczba {a} należy do przedziału <10,20> ?", end=" ")
if a>=10 and a<=20:
  print("Tak")
else:
  print("Nie")

Czy liczba 7 należy do przedziału <10,20> ? Nie

**Zadania**

1.   Sprawdź czy liczba jest parzysta.
2.   Student przystępuje do testu. Maksymalnie do zdobycia jest 100 punktów. Aby uzyskać zaliczenie student musi zdobyć 60% punktów. Wczytaj od studenta liczbę punktów aby sprawdzić czy zdał.
3.  Kantor wymienia euro na zł i zł na euro. Napisz program, który pozwoli na wymianę zarówno euro/zł i zł/euro. Użytkownik podaje, jakiego rodzaju wymiany chce dokonać, a następnie podaje kwotę, którą chce wymienić. Załóżmy następujące przeliczniki: 1 zł= 0.21 euro,  1 euro=4.74 zł

**Pętle**

Umożliwiają powtórzenie fragmentów kodu, bez kilkukrotnego kopiowania ich.

*   pętla while - wykonuje się do momentu kiedy warunek logiczny jest prawdziwy.

```
while *warunek_logiczny*:
  instrukcje do wykonania
```

*   pętla for - wykonuje się tyle razy ile zostało zdefiniowane na początku


```
for *każdy_element* in *kontener*:
  instrukcje do wykonania
```

In [ ]:
i=1
while i<=10:
  print(f"Iteracja {i}")
  i=i+1 #i+=1

In [ ]:
sum=0
while(sum<=20):
  number=input("Podaj liczbe: ")
  sum=sum+int(number)

print("Program sie zakonczyl, suma Twoich liczba jest większa od 20")

Podaj liczbe: 1
Podaj liczbe: 2
Podaj liczbe: 22
Program sie zakonczyl, suma Twoich liczba jest większa od 20

In [ ]:
for i in range(1,11,2):
    print(f"Iteracja {i}")

Iteracja 1
Iteracja 3
Iteracja 5
Iteracja 7
Iteracja 9

In [ ]:
for i in range(10):
    res=i**2
    print(f"{i}^2: {res}")

0^2: 0
1^2: 1
2^2: 4
3^2: 9
4^2: 16
5^2: 25
6^2: 36
7^2: 49
8^2: 64
9^2: 81

In [ ]:
flag=True
sum=0
while flag:
  number=input("Podaj liczbe ")
  sum=sum+int(number)
  ans=input("Czy chcesz kontynuowac ")
  if ans!="TAK":
    flag=False
print("Suma Twoich liczb to: ", sum)

Podaj liczbe 7
Czy chcesz kontynuowac TAK
Podaj liczbe 8
Czy chcesz kontynuowac nie
Suma Twoich liczb to:  15

In [ ]:
l=[5,9,4,74,3,88,6]
sum1=0
sum2=0
for el in l:
  if el%2==0:
    sum1=sum1+el
  else:
    sum2=sum2+el
print("Suma elementow parzystych jest rowna: ", sum1)
print("Suma elementow nieparzystych jest rowna: ", sum2)

Suma elementow parzystych jest rowna:  172
Suma elementow nieparzystych jest rowna:  17

**Zadania**

1.   Stwórz kalkulator, który będzie wykonywać jedną z następujących operacji: dodawanie, odejmowanie, mnożenie i dzielenie. Kalkulator ma działać do momentu, kiedy użytkownik nie wciśnie przycisku q, który będzie oznaczał wyjście z programu. Użytkownik podaje liczby i działanie, które ma być na nich wykonane. Pamiętaj, że nie można dzielić przez 0. Wynik ma zostać wyświetlony na konsoli.
2.   Bank oferuje lokatę z oprocentowaniem 7% w skali trzech miesięcy. Wczytaj od użytkownika kwotę, którą chce położyć na lokatę na rok i wyświetl ile pieniędzy będzie miał na koncie po każdy okresie rozliczeniowym.

**Kontenery**
https://docs.python.org/3/tutorial/datastructures.html

**Listy**

*   elementem listy może być cokolwiek, np. liczba, łańcuch znaków, inna lista
*   numerowanie w liście zaczyna się od 0
*   jest to uporządkowana struktora, którą można modyfikować
*   podstawowe operacje wykonywane na liście to: dodanie elementu, usunięcie elementu, sortowanie listy
*   aby uzyskać dostęp do listy używamy [], tworzymy ją również za pomocą []


https://www.w3schools.com/python/python_lists.asp

In [ ]:
l=[] #tworzenie pustej listy l=list()
l=[1,5,72,3,90] #tworzenie listy z zawartością
print("Lista ", l)
l.append(10) #element dodawany jest na koniec
print("Lista po dodaniu 10 ", l)
l.insert(2,100) #dodaje na wskazaną pozycję
print("Lista po dodaniu 100 na pozycję 2 ", l)
l.pop() #usuwa ostatni element
print("Lista po usunieciu ostatniego elementu ", l)
l.pop(2) #usuwa element na wskazanej pozycji
print("Lista po usunieciu elementu z pozycji 2 ", l)
l.reverse()
print("Lista po odwróceniu kolejności ",l)

Lista  [1, 5, 72, 3, 90]
Lista po dodaniu 10  [1, 5, 72, 3, 90, 10]
Lista po dodaniu 100 na pozycję 2  [1, 5, 100, 72, 3, 90, 10]
Lista po usunieciu ostatniego elementu  [1, 5, 100, 72, 3, 90]
Lista po usunieciu elementu z pozycji 2  [1, 5, 72, 3, 90]
Lista po odwróceniu kolejności  [90, 3, 72, 5, 1]

In [ ]:
l2=["Monika",20,True,5.0]
print("Lista ",l2)

print("Element pod indeksem 1: ", l2[1])
print("Element pod indeksem ostatnim: ", l2[-1])
print("Element pod indeksem przed ostatnim: ", l2[-2])
print("Elementy pod indeksami 1 oraz 2: ", l2[1:3])
print("Elementy pod indeksami 0,1 oraz 2: ", l2[:3])
print("Elementy pod indeksami ostatnim i przed ostatnim ", l2[2:])
print("Elementy pod indeksami parzystymi: ", l2[::2])

Lista  ['Monika', 20, True, 5.0]
Element pod indeksem 1:  20
Element pod indeksem ostatnim:  5.0
Element pod indeksem przed ostatnim:  True
Elementy pod indeksami 1 oraz 2:  [20, True]
Elementy pod indeksami 0,1 oraz 2:  ['Monika', 20, True]
Elementy pod indeksami ostatnim i przed ostatnim  [True, 5.0]
Elementy pod indeksami parzystymi:  ['Monika', True]

In [ ]:
new_list=l2.copy()
print("Lista new_list jest kopia listy l2 ", new_list)

Lista new_list jest kopia listy l2  ['Monika', 20, True, 5.0]

In [ ]:
l=[1,5,72,3,90]
print("Nieparzyste elementy znajdujące się w liście")
for el in l:
  if el%2!=0:
    print(el, end=" ")

Nieparzyste elementy znajdujące się w liście
1 5 3

In [ ]:
l=[1,5,72,3,90,3]
print("Nieparzyste elementy znajdujące się w liście wraz z numerami indeksów pod którymi się znajdują")
for i, el in enumerate(l):
  if el%2!=0:
    print(f"Element {el} znajduje się pod indexem {i}")

Nieparzyste elementy znajdujące się w liście wraz z numerami indeksów pod którymi się znajdują
Element 1 znajduje się pod indexem 0
Element 5 znajduje się pod indexem 1
Element 3 znajduje się pod indexem 3
Element 3 znajduje się pod indexem 5

In [ ]:
l=[1,5,72,3,90,3]
num=3
res=l.count(num)
print(f"Liczba {num} występuje {res} razy w liście {l} ")

Liczba 3 występuje 2 razy w liście [1, 5, 72, 3, 90, 3]

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
l1.extend(l2)
print(f"Lista l2 zostala dolaczona do listy l1 za pomoca extend, zawartosc listy l1, {l1}")
l1.append(l2)
print(f"Lista l2 zostala dolaczona do listy l1 za pomoca append, zawartosc listy l1, {l1}")

Lista l2 zostala dolaczona do listy l1 za pomoca extend, zawartosc listy l1, [1, 2, 3, 4, 5, 6]
Lista l2 zostala dolaczona do listy l1 za pomoca append, zawartosc listy l1, [1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [ ]:
l=[6,2,8,4,9,1]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 4, 6, 8, 9]
[9, 8, 6, 4, 2, 1]

**Zadania**

1.   Wygeneruj listę zawierającą 10 liczb z przedziału <1,100>. Na podstawie stworzonej listy stwórz dwie kolejne listy, z których jedna będzie zawierać tylko liczby parzyste a druga tylko nieparzyste. Wykorzystaj import from random import randint, funkcję randint.
2.   Lista przechowuje liczbę binarną zapisanę za pomocą 0/1. Wyświetl na konsoli liczbę w systemie dziesiętym.
3.   Znajdź wszystkie indeksy pod którymi znajdują się elementy mniejsze niż średnia arytmetyczna elementów w liście. Wypisz indeksy na konsolę.

**Krotki**

*   krotki nazywa są tuplami
*   krotka jest podobna do listy ale nie jest modyfikowalna
*   jeśli krotka została już stworzona to nie można modyfikować jej zawartości, czyli nie możemy dodawać, usuwać, aktualizować elementów
*   po co używać krotki? np. aby próba zmiany zawartości kolekcji nie mogła się udać, zabezpieczenie przed przypadkowymi zmianami, optymalizacja - zajmują mniej miejsca
*   aby uzyskać dostęp do krotki używamy [], a tworzymy ją za pomocą ()

https://www.w3schools.com/python/python_tuples.asp

In [ ]:
seq=(1,5,7,3,8)
print("Krotka: ",seq)

Krotka:  (1, 5, 7, 3, 8)

In [ ]:
el=seq[2]
print("Trzeci element w krotce: ", el)

Trzeci element w krotce:  7

In [ ]:
seq[2]=70

TypeError: ignored

**Słowniki**
*   każdy element słownika zawiera parę: klucz i wartość
*   klucz może być dowolnego typu
*   dostęp do elementu odbywa się za pomocą klucza
*   klucze muszą być unikatowe
*   wartości mogą się powtarzać
*   kolejność elementów w słowniakch nie jest uporządkowana
*   odwoływać się do słownika można za pomocą [], a tworzy się go za pomocą {}

https://www.w3schools.com/python/python_dictionaries.asp

In [ ]:
capitals={}
capitals["Polska"]="Warszawa"
capitals["Niemcy"]="Berlin"
capitals["Francja"]="Paryz"
print("Zawartosc slownika: ",capitals)
print("Zawartosc slownika: ", capitals.items())

Zawartosc slownika:  {'Polska': 'Warszawa', 'Niemcy': 'Berlin', 'Francja': 'Paryz'}
Zawartosc slownika:  dict_items([('Polska', 'Warszawa'), ('Niemcy', 'Berlin'), ('Francja', 'Paryz')])

In [ ]:
print("Klucze-panstwa: ", capitals.keys())
print("Wartosci-stolice: ", capitals.values())

print("Klucze-panstwa: ", list(capitals.keys()))
print("Wartosci-stolice: ", list(capitals.values()))

Klucze-panstwa:  dict_keys(['Polska', 'Niemcy', 'Francja'])
Wartosci-stolice:  dict_values(['Warszawa', 'Berlin', 'Paryz'])
Klucze-panstwa:  ['Polska', 'Niemcy', 'Francja']
Wartosci-stolice:  ['Warszawa', 'Berlin', 'Paryz']

In [ ]:
print("Stolica Polski: ",capitals["Polska"])
#print("Stolica Hiszpani: ",capitals["Hiszpania"])
if "Hiszpania" in capitals:
  print("Stolica Hiszpani: ",capitals["Hiszpania"])

print("Stolica Niemiec: ",capitals.get("Niemcy"))
print("Stolica Hiszpani: ",capitals.get("Hiszpania"))

Stolica Polski:  Warszawa
Stolica Niemiec:  Berlin
Stolica Hiszpani:  None

In [ ]:
del capitals["Polska"] #capitals.pop("Polska")
print("Stolica Polski: ",capitals.get("Polska"))

Stolica Polski:  None

In [ ]:
for key in capitals.keys():
  print(f"Panstwo {key}, stolica {capitals[key]}")

Panstwo Niemcy, stolica Berlin
Panstwo Francja, stolica Paryz

In [ ]:
for key,value in capitals.items():
  print(f"Panstwo {key}, stolica {value}")

Panstwo Niemcy, stolica Berlin
Panstwo Francja, stolica Paryz

In [ ]:
capitals2={"Hiszpania":"Madryt","Portugalia":"Lizbona"}
capitals.update(capitals2)
print(capitals)

{'Niemcy': 'Berlin', 'Francja': 'Paryz', 'Hiszpania': 'Madryt', 'Portugalia': 'Lizbona'}

**Zadania**

1.   Stwórz słownik przechowujący oceny z informatyki dla każdego studenta. Kluczem jest numer indeksu studenta. Na podstawie stworzonego słownika,dla każdego studenta policz średnią arytmetyczną jego ocen.
2.   Wykorzystując słownik policz częstość występowania liczb w liście. Na konsoli powinna być wyświetlona informacja ile razy dana liczba pojawiła się w liście.
4.   Na podstawie zadania 2, znajdź które elementy zostały zduplikowane.
3.   Stwórz słownik polsko-angielski. Zakładamy, że jedno słowo ma dokładnie jedno tłumaczenie. Słownik powinien mieć następujące funkcjonalności:
     - dodać słowo wraz z tłumaczeniem do słownika, jeśli jeszcze go nie ma
     - usunąć ze słownika podane słowo wraz z jego tłumaczeniem
     - wyświetlić cały słownik
     - zwrócić tłumaczenie dla danego słowa

**Zbiory**

*   zbiór w sensie matematycznym
*   przechowuje elementy unikatowe, brak powtórzeń
*   są podobne do słowników, ale zawierają same klucze
*   elementy zbioru nie są modyfikowalne
*   zbiór tworzymy za pomocą {}, a jeśli chcemy stworzyć pusty zbiór to używamy funkcji set()
*   na zbiorach wykonywane są operacje takie jak: suma zbiorów, iloczyn zbiorów czy różnica zbiorów.

https://www.w3schools.com/python/python_sets.asp

In [ ]:
number_set={3,5,7,2,9}
empty_set=set()
print("Set: ",number_set)
number_set.add(10)
print("Set po dodaniu 10: ", number_set)
number_set.remove(10)
print("Set po usunieciu 10: ", number_set)
print("Liczba elementów w set: ",len(number_set))

print("Czy 5 jest w zbiorze? ", 5 in number_set)

Set:  {2, 3, 5, 7, 9}
Set po dodaniu 10:  {2, 3, 5, 7, 9, 10}
Set po usunieciu 10:  {2, 3, 5, 7, 9}
Liczba elementów w set:  5
Czy 5 jest w zbiorze?  True

In [ ]:
for el in number_set:
  print(el)

2
3
5
7
9

In [ ]:
s1={1,5,7,8}
s2={1,4,7}
print("Suma zbiorow: ", s1|s2)
print("Iloczyn zbiorow: ", s1&s2)
print("Roznica zbiorow: ", s1-s2)

Suma zbiorow:  {1, 4, 5, 7, 8}
Iloczyn zbiorow:  {1, 7}
Roznica zbiorow:  {8, 5}

**Zadania**

1.   Znajdź elementy unikatowe w liście
2.   Znajdź elementy, które się powtarzają w liście